html, body { 
    height: 100%;
    padding: 1em;
}

body {
    font-family: 'Fantasque Sans Mono', 'Ubuntu Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #34363B;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-top: 5px;
}

.menuItem {
    display: inline;
}

.division {
    color: #dadada;
    background-color: #dadada;
    border-color: #dadada;
}

.imgSketch {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.imgSketch2 {
    /* background-image: url(default.jpg); */
    background-position: 50% 50%;
    background-size: cover;
    width: 150px;
    height: 150px;
}

a {
    text-decoration: none;
    font-weight: bold;
    /* border-bottom: 1px solid #7212f0; */
    color: #34363B;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #34363B;
}

a:hover {
    color: #ffa600;
    text-decoration: none;   
}

.mt-20 {
    margin-top: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.2em;
}

.blah {
    font-size: 5.0em;
    font-style: italic;
}
