body {
    /* font-family: 'Contrail One', cursive; */
    font-family: Lato, sans-serif;
    font-size: 16px;    
    color: #303030;
    margin: 1em 1em 1em 1em;
}

li {
    list-style: none;
}

.division {
    color: #c0c0c0;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
    margin-top: 2em;
}

.imgSketch {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.description {
    /* margin-left: 1em; */
    margin-top: 1em;
    font-size: 15px;
    color: #6b6b6b;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #303030;
}

a:hover {
    color: #7212f0;
    text-decoration: none;    
}

.mt-20 {
    margin-top: 20px;
}

.title {
    text-transform: capitalize;
}

h1 {
    font-size: 30px;
}