body {
    /* font-family: 'Contrail One', cursive; */
    font-family: Lato, sans-serif;
    font-size: 16px;    
    color: #303030;
    margin: 1em 1em 1em 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.division {
    color: #dadada;
    background-color: #dadada;
    border-color: #dadada;
    margin-top: 2em;
}

.imgSketch {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.description {
    /* margin-left: 1em; */
    margin-top: 1em;
    font-size: 15px;
    color: #6b6b6b;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #303030;
}

a:hover {
    color: #7212f0;
    text-decoration: none;   
}

.mt-20 {
    margin-top: 20px;
}

.title {
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
}